{{#each foundRooms}}
    <h2>{{name}}</h2>
    <p>{{description}}</p>
    <img src="{{imageUrl}}" alt="room image">

    <form action="/rooms/{{_id}}/edit-room" method="post">
        <button>Edit</button>
    </form>

    <form action="rooms/{{_id}}/delete-room" method="post">
        <button>Delete</button>
    </form>

{{/each}}